$background-grey: #f3f3f3;
$button-grey: #5e5e5e;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3rem;
    background-color: $background-grey;
}

button{
 height: 2.5rem;
 border: none;
 font-size: 1.3rem;
 border-bottom: .5rem;
 cursor: $button-grey;
 color: $button-grey;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.container{
    font-size: 1.3rem;
  }

.is-completed{
    text-decoration: line-through;
    color: $button-grey;
}

.tdl-input{
    padding: .5rem;
    margin: 1rem 0;
}

.tdl-task{
    padding: .5rem;
}